html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(180deg, #f36c70 0%, #f6ab67 100%);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.logo {
	width: 70vw;
	height: auto;
}

.fetch-button {
	font-family: "Pacifico", cursive;
	background: linear-gradient(to top, #ffc520, #f7ddc5 90%, #f5e7da);
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);
	color: #371516;
	font-size: 18px;
	padding: 5px 10px;
	border-radius: 10px;
	transition: all, 0.15s;
	min-width: 250px;
}

.fetch-button:hover {
	cursor: pointer;
	transform: translateY(2px);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.8);
}

.fetch-button[disabled]:hover {
	cursor: wait;
}

@media (min-width: 700px) {
	.logo {
		width: 450px;
	}

	.fetch-button {
		font-size: 20px;
		padding: 10px 20px;
		min-width: 280px;
	}
}
