html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	font-family: "Inconsolata", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: linear-gradient(180deg, #f36c70 0%, #f6ab67 100%);
	box-shadow: 0 0 100px 10px #582917 inset;
}

:root {
	--form-rotation: 2deg;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#root > div > div {
	transition: all, 0.33s;
}

.logo {
	width: 70vw;
	height: auto;
}

.logo:hover {
	cursor: pointer;
}

.fetch-button {
	font-family: "Inconsolata", sans-serif;
	font-weight: 700;
	background: #ffc520;
	box-shadow: 0 5px 20px -5px rgba(0, 0, 0, 0.5);
	border: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.75);
	border-bottom: 1px solid rgba(0, 0, 0, 0.75);
	color: #371516;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	transition: all, 0.15s;
	min-width: 250px;
}

.fetch-button:hover {
	background: #ecb619;
}

.fetch-button:hover {
	cursor: pointer;
	transform: translateY(2px);
	box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 0.8);
}

.fetch-button[disabled]:hover {
	cursor: wait;
}

.form {
	position: fixed;
	background: #eaeaea;
	display: flex;
	flex-direction: column;
	padding: 10px 30px 10px 0px;
	width: 320px;
	height: 330px;
	max-height: 330px;
	font-size: 15px;
	transition: all, 0.5s;
	left: calc(50% + 10px);
	bottom: 0;
	border-radius: 3px;
	transform: rotate(var(--form-rotation)) translateX(-50%);
	background: linear-gradient(
		to top,
		#b9b9b9 10%,
		#eaeaea,
		#fbfbfb 90%,
		white
	);
}

.form,
.form:before,
.form:after {
	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
	border: 1px solid #bbb;
}

.form:before,
.form:after {
	content: "";
	position: absolute;
	height: 95%;
	width: 99%;
}

.form:before {
	right: 15px;
	top: 0;
	transform: rotate(-1deg);
	z-index: -1;
	background: url("/texture-form-bg.png"),
		linear-gradient(to top, #b9b9b9 10%, #eaeaea, #fbfbfb 90%, white);
	background-size: cover;
}

.form:after {
	top: -5px;
	right: -5px;
	transform: rotate(2deg);
	z-index: -2;
	background: linear-gradient(
		to top,
		#b9b9b9 10%,
		#eaeaea,
		#fbfbfb 90%,
		white
	);
}

.form__hidden {
	transform: rotate(var(--form-rotation)) translateX(-50%) translateY(330px);
	opacity: 0;
}

.form__visible {
	transform: rotate(var(--form-rotation)) translateX(-50%) translateY(120px);
	/* transform: rotate(var(--form-rotation)) translateX(-50%) translateY(100px); */
	opacity: 1;
}

.form__logo {
	width: 260px;
}

.form__mainheading {
	font-size: 16px;
	margin-top: 0;
	margin-bottom: 0;
	display: none;
}

.form__header {
	display: none;
}

.form__heading {
	background: #eee;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
	text-transform: uppercase;
	font-size: 13px;
	padding: 3px 2px;
	margin-bottom: 0;
}

.form__subheading {
	margin-top: 0.5rem;
	margin-bottom: 0;
	text-transform: uppercase;
	opacity: 0.8;
	font-size: 12px;
}

.form__required {
	text-transform: uppercase;
	font-size: 12px;
	font-weight: normal;
}

.form__content {
	display: flex;
	flex-direction: column;
}

.form__content p {
	margin-top: 0.5rem;
}

.form__meaning {
	font-family: "Nanum Pen Script", cursive;
	font-size: 22px;
	line-height: 0.7;
	margin-bottom: 0.25rem;
}

.form__reason {
	display: none;
}

.form__approved {
	position: absolute;
	top: 60px;
	right: 30px;
	transform: rotate(12deg);
	font-size: 1.5rem;
	font-weight: 700;
	border: 0.25rem solid #555;
	display: inline-block;
	padding: 0.25rem 1rem;
	text-transform: uppercase;
	border-radius: 1rem;
	font-family: "Courier", serif;
	mask-image: url("/texture-noise.png");
	mix-blend-mode: multiply;
}

.form__approved--true {
	color: rgba(17, 134, 41, 0.85);
	border: 0.25rem solid rgba(17, 134, 41, 0.85);
	text-shadow: 0 0 5px rgba(17, 134, 41, 0.35);
	transform: rotate(-10deg);
	border-radius: 0;
}

.form__approved--false {
	color: rgba(221, 34, 51, 0.8);
	border: 0.5rem double rgba(221, 34, 51, 0.8);
	transform: rotate(3deg);
}

.introduction {
	font-size: 16px;
	max-width: 300px;
	text-align: center;
	color: #441b1c;
}

.introduction__content {
	line-height: 2;
}

.introduction__content span {
	background-color: #3c332a;
	color: #fff;
	display: inline;
	padding: 0.45rem;
	box-decoration-break: clone;
	-webkit-box-decoration-break: clone;
}

.introduction__tech {
	font-size: 14px;
	margin: 1rem 0;
}

.introduction__tech a {
	background: #ffd66e;
	color: #441b1c;
	text-decoration: none;
	padding: 4px 8px;
	transition: background, 0.15s;
}

.introduction__tech a:hover {
	background: #ffc624;
}

@media (min-width: 374px) {
	.introduction {
		font-size: 18px;
		max-width: 340px;
	}

	.introduction__tech {
		font-size: 16px;
	}

	.form {
		padding: 10px 30px 10px 0;
		width: 360px;
	}

	.form__visible {
		transform: rotate(var(--form-rotation)) translateX(-50%)
			translateY(110px);
	}
}

@media (min-width: 413px) {
	.introduction {
		font-size: 20px;
		max-width: 390px;
	}

	.introduction__tech {
		font-size: 16px;
	}

	.form {
		padding: 10px 30px 10px 0;
		width: 400px;
	}

	.form__visible {
		transform: rotate(var(--form-rotation)) translateX(-50%)
			translateY(100px);
	}
}

@media (min-width: 549px) {
	.form {
		width: 500px;
	}

	.form__header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
	}

	.form__content {
		flex-direction: row;
	}

	.form__column {
		margin-right: 10px;
		padding-right: 10px;
		padding-bottom: 40px;
		min-width: 20%;
	}

	.form__column:first-child {
		border-right: 1px solid black;
	}
}

@media (min-width: 649px) {
	.form {
		width: 600px;
		padding: 10px 40px 10px 10px;
	}

	.form__mainheading {
		display: inline-block;
	}

	.form__approved {
		font-size: 2.5rem;
	}
}

@media (min-width: 700px) {
	body {
		box-shadow: 0 0 250px 10px #582917 inset;
	}

	.logo {
		width: 450px;
	}

	.introduction {
		font-size: 22px;
		max-width: 520px;
	}

	.introduction__tech {
		font-size: 18px;
	}

	.fetch-button {
		font-size: 20px;
		padding: 15px 20px;
		min-width: 280px;
	}

	.form {
		width: 680px;
		padding: 20px 30px 0 10px;
	}

	.form__reason {
		font-size: 10px;
		display: inline;
	}

	.form__mainheading {
		font-size: 20px;
	}

	.form__approved {
		top: 100px;
		right: 70px;
	}
}

@media (min-width: 919px) {
	.form {
		width: 760px;
	}
}
